@font-face {
  font-family: lovelo;
  src: url("../fonts/Lovelo Line Light.otf")
}

.cover-container {
  position: relative;
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.cover-container img {
  width: 100%;
  height: 100%;
}



.cover-container .bottom-content-section {
  padding: 1rem;
  position: absolute;
  bottom: 20px;
}

.cover-container .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #68AFCF;
}

.fondo-1 {
  background-color: #343A44;
  color: white;
  padding: 20px 20px;
}

.fondo-2 {
  background-color: #292F39;
  color: white;
  padding: 20px 20px;
}
#menu-container {
  background-color: #272A2F;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  padding: 10px 10px;
}

#menu-contaier li a {
  color: #D6105A;
  text-decoration: none;
}

#menu-container li a:hover {
  color: #DC678D;
}



h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 45px;
  color: #DC678D;
}

.imagen {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.descripcion {
  padding: 15px 15px;
}



.video-responsive-contenedor {
  position: relative;
  padding-top: 56.25%;
  margin-bottom: 20px;
}

.video-responsive-src {
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#contactanos {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}

#contactanos a {
font-size: 40px;
text-decoration: none;
color: #5996AF;
}

#contactanos a:hover {
  color: #63A497;
}

